.nullCell {
    background-color: rgb(225, 225, 225);
    width: var(--params);
    height: var(--params);
    cursor: pointer;
    transition: 0.8s;
    border-radius: 10%;
    box-shadow: inset 1px 0.3px 1px 1px #ffffff;

}

.board {
    display: flex;
    /* width: 500px;
    height: 500px;
    min-width: 500px;
    max-width: 500px; */
    flex-wrap: wrap;
    background-color: rgb(55, 0, 60);

}